.btn-images {
  width: 500px;
  height: 250px;

}
.container {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.link-text{
  position: relative;
  bottom: 35px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.welcome-page{
  text-align: center;
}
.red{
  color:rgb(229, 6, 36)
}

.white{
  color: white;
}

.first{
  position: relative;

}

.pad{
  padding:12% 2%;

}