.btn-images {
  width: 500px;
  height: 250px;

}
.container {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.link-text{
  position: relative;
  bottom: 35px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.welcome-page{
  text-align: center;
}

.white{
  color: white;
}

.first{
  position: relative;

}

.pad{
  padding:12% 2%;

}
.yea{
  
  text-align: center;
  /* border: 0px solid black; */
  margin: 0 auto;
  font-family:'Roboto Condensed', sans-serif;
}