
<div *ngIf="theLoggedInUser !== undefined">
    <header class ="welcome-page">Welcome, {{theLoggedInUser.username|json}}</header>
    <br>
    <br>
    <!-- ['/team', teamId, 'user', userName, {details: true}] -->
    <!-- For instance ['/team', teamId, 'user', userName, {details: true}]  -->
    <!-- means that we want to generate a link to /team/11/user/bob;details=true. -->

    <div class = "container">

                <div>
                    <input type="image" src="https://cdn.cnn.com/cnnnext/dam/assets/180305165545-12-caribbean-beaches-and-beyond-jamaica.jpg" name="saveForm" class="btn-images" id="saveForm" routerLink = "/tournament/create">
                    <p class = "link-text">CREATE TOURNAMENT</p> 
                </div>

                
                <div>
                    <input type="image" src="https://cdn.cnn.com/cnnnext/dam/assets/180305165545-12-caribbean-beaches-and-beyond-jamaica.jpg" name="saveForm" class="btn-images" id="saveForm" routerLink = "/team/creation/">
                    <p class = "link-text">CREATE TEAM</p>  
                </div>

                <div>
                    <input type="image" src="https://cdn.cnn.com/cnnnext/dam/assets/180305165545-12-caribbean-beaches-and-beyond-jamaica.jpg" name="saveForm" class="btn-images" id="saveForm" routerLink = "/team/list">
                    <p class = "link-text">JOIN TEAM</p>
                </div>

                <div>
                    <input type="image" src="https://cdn.cnn.com/cnnnext/dam/assets/180305165545-12-caribbean-beaches-and-beyond-jamaica.jpg" name="saveForm" class="btn-images" id="saveForm" routerLink = "/tournament">
                    <p class = "link-text">JOIN TOURNAMENT</p>
                </div>

    </div>  <!-- END container -->
                
         
</div> <!-- End main menu for LOGGED IN USERS -->


<div *ngIf="theLoggedInUser === undefined">
     <h2> Hi there, spectator</h2>

     <p> Feel free to check out all the tournaments, teams, and players involved!</p>
     <p> If you want to make your own tournament/team,<a routerLink="/signup">sign up here</a>
     </p>
    <br>
    <hr>
    </div>
    




<!-- THESE ARE JUST LINKS WITH EXTRA BACKEND UPDATE FEATURES -->
<!-- EVAN CAN START DESIGNING THIS -->

