<h3>INSERT SIGN-UP FORM</h3>
<!-- I MADE IT THIS WAY SO IF SOMEONE WANTS TO ACCESS A PRIVATE LINK -->
<!-- WITHOUT LOGGING IN WE CAN POP THIS UP ANYWHERE -->

<h2>Signup Form</h2>

<form (submit)="createUser()">
  
  <label>Username</label>
  <input [(ngModel)]="theNewUser.username" name="blah" type="text">
  
  <label>Password</label>
  <input [(ngModel)]="theNewUser.password" name="blah" type="text">
  <button>Signup</button>
</form>
<div class ="aProblem" *ngIf="theError">{{theError}}</div>
  

