<h3>Team "{{theActualTeam.teamName}}"</h3>
<!-- BAD IMAGE SYNTAX -->
<!-- <img src ={{theActualTeam.teamLogo}} width =200px >
<p><b>Description:  </b>  <i>{{theActualTeam.teamDescription}}</i></p>
<p><b>Captain:   </b>  {{theActualTeam.teamCaptain.username}}</p> -->

<!-- this is the proper img syntax -->
<img [src] ="theActualTeam.teamLogo" width =200px >
<p>Description: <i>{{theActualTeam.teamDescription}}</i></p>
<p>Captain: {{theActualTeam.teamCaptain.username}}</p>





<div *ngIf="theLoggedInUser && theActualTeam.teamCaptain._id === theLoggedInUser._id">
  Only Team Captains Can See This :)
<br>
<button (click) = "isShowingForm =!isShowingForm">Edit this Team</button>
<br>

<div *ngIf="showMe">
    <h1 style="color:red">WARNING</h1>
    <h6>Once you delete your team, there is no going back. Are you sure?</h6>

    <button style ="background-color: red; border-radius: 5px; padding: 5px;" (click)="deleteThisTeam()">Destroy this Team</button>
    </div>

    <br>
<button (click) ="showMe = !showMe">Delete this Team</button>
</div>


<div *ngIf="isShowingForm">
  <br>
  <!-- <form (ngSubmit)="editRide()"> -->
  <label for="ride-name-input"> Ride Name </label>
  <!-- <input type="text" id="ride-name-input" placeholder=" " [(ngModel)]="rideInfo.updateName" name="updateName"> -->
  <br>
  <label for="ride-distance-input"> miles </label>
  <!-- <input type="text" id="ride-distance-input" placeholder=" 100" [(ngModel)]="rideInfo.rupdateDistance" name="updateDistance"> -->
  <br>
  <label for="ride-category-input"> category </label>
  <!-- <input type="text" id="ride-category-input" placeholder=" A B or C" [(ngModel)]="rideInfo.updateCategory" name="updateCategory"> -->
  <br>
  <label for="ride-date-input">Enter new date of the ride</label>
  <!-- <input id="ride-date-input" type="date" [(ngModel)]="rideInfo.rupdateDate" name="updateDate"> -->
  <br> `
  <button class="btn"> Save </button>



