<h3>TEAM PROFILE COMPONENT</h3>
{{theActualTeam._id}}
{{theActualTeam.teamName}}




<div *ngIf="theLoggedInUser && theActualTeam.teamCaptain === theLoggedInUser._id">
  Only Team Captains Can See This :)
<br>
<button (click) = "deleteTeam(team._id)">Delete</button>
<br>
<button (click) = "editTeam(team._id)">Edit</button>
</div>
<!-- INSERT BUNCH OF PLAYER NAMES WITH THEIR IMAGES BESIDE THEM -->
<!-- NAMES WOULD LINK TO THEIR OWN PROFILE -->
<!-- VIEWABLE BY SPECTATORS BUT EDIT LINKS WOULD DISAPPEAR -->