<div class="container center">
<hr>
<div>
  <h3>Create Your Team</h3>
  <label for  = "team-title">Team name: </label>
  <input type = "text" [(ngModel)] = "newTeam.teamName" name = "team" placeholder = "some team name">
</div>
<br>
<br>
<div>
  <label for  = "team-description">Team description: </label>
  <input type = "text" [(ngModel)] = "newTeam.teamDescription" name = "team" placeholder = "Tell us about your team.">
</div>
<br>
<br>
<!-- <div>
  <label for  = "team-description">Team Logo: </label>
<!--   <img [src] = "newTeam.teamLogo"  alt = "insert img url.">
</div> -->
<!-- <div> -->
<!--   <input type = "text" [(ngModel)] = "newTeam.image" name = "terp" placeholder = "insert image URL">
</div>
<div>
  <label for  = "team-type">Team roster: </label>
    
</div> -->
<br>
<br>

<button (click)="addNewTeam()">Submit New Team</button>
<br>
<br>
</div>