<br>
<br>
<br>
<div class="container yea">
<h2>Login Form</h2>

<form (submit)="logTheUserIn()">
  
  <label>Username</label>
  <br>
  <input [(ngModel)]="theLoggedInUser.username" name="blahuser" type="text">
  <br>
  <label>Password</label>
  <br>
  <input [(ngModel)]="theLoggedInUser.password" name="blahpass" type="password">
  <br>
  <button>Login</button>
</form>
<div class ="aProblem" *ngIf="theError">{{theError}}</div>
<p>Don't have an account?<a routerLink="/signup">  signup</a></p>

<!-- STANDARD LOGIN FORM -->
<!-- MADE IT THIS WAY SO WE CAN POP THIS UP ANYWHERE -->
<!-- INCASE THE USER GETS KICKED OUT FROM  -->
<!-- HAVING SHITTY INTERNET -->

<!-- EDIT  TO LOGIN FORM -->

</div>