body{
  margin: 0 auto;
}
.allTeams{
  
  text-align: center;
  /* border: 0px solid black; */
  margin: 0 auto;
  font-family:'Roboto Condensed', sans-serif;

 


}
.a{
  color:rgb(229, 6, 36);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
.logo{
  position: relative;
}


.space{
  justify-content: space-around;
}