<div *ngFor = "let team of allTheTeams" class = "allTeams">
    <h6>Team Name:{{team.teamName}}</h6>
    <a [routerLink] = "['/team', team._id]">Team details</a>
    <br>
    <button (click) = "addToBracket(team)">Add</button>
    <button (click) = "deleteTeam(team._id)">Delete</button>
    <button (click) = "editTeam(team._id)">Edit</button>
</div>

<!-- 
<p> Roster:      <br>{{team.roster}}       </p>
<p> description: <br>{{team.description}}  </p>
<p> logo:        <br>{{team.teamLogo}}     </p> 
-->

<!-- DO NOT DELETE THIS PLEASE                                  -->
<!-- THIS IS THE PROPER WAY TO ROUTERLINK                       -->
<!-- <a [routerLink] = "['/team', team._id]">Team details.</a>  -->
    