body {
  margin: 0;
  padding: 0;
}
.firstteam{
position: relative;
left: 50px;
}

.secondteam{
position: relative;
right: 50px;
}

.versus {
  width: 150px;
  height: 150px;
  float: center;
  z-index: 2;
}

.team-logo{
  width: 300px;
  /* width: 240px; */
  height: 420px;
}

.team{
  display: flex;
  align-items: center;
  /* flex-flow: row wrap; */
  margin: 10px 0;
}

.container{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;}

.team-name{
  /* float: center; */
  /* margin: 0;
  padding: 0; */
  z-index: 2;
  /* position: relative;
  left: 100px; */
}
 
