
<!-- <div *ngFor="let eachTeam of theTournamentTeams">
	TeamName: {{eachTeam.teamName}}
</div> -->


<!-- <div [style.visibility]="(assignAllTeamsToBracket == 0) ? 'hidden' : 'visible' "> -->
		<!-- <button (click) = "assignAllTeamsToBracket()">ADVANCE TO NEXT ROUND</button> -->
	<!-- </div> -->

<div class = "container">
	<div *ngFor = "let team of this.theBracket" class = "team">
	<input type="image" [src] = "team.firstTeam.teamLogo" name="saveForm" class="btn-images team-logo firstteam" id="saveForm" routerLink = "/team/{{team.firstTeam._id}}">
	<img src = "https://upload.wikimedia.org/wikipedia/en/thumb/b/b1/Versus_logo.svg/1082px-Versus_logo.svg.png" class = "versus">
	<input type="image" [src] = "team.secondTeam.teamLogo" name="saveForm" class="btn-images team-logo secondteam" id="saveForm" routerLink = "/team/{{team.secondTeam._id}}">
</div>

<!-- <br> -->
<!-- <p>LOSER BRACKET: </p>

<div *ngFor = "let team of this.teamBracket" class = "container-loser">
	<div *ngIf="team.firstTeam.lose == true">
			<! <div [ngStyle]="{'background-color': 'blue', 'border': 2px solid orange }">	something		</div> -->

			<!-- <input type="image" [src] = "team.firstTeam.teamLogo" name="saveForm" class="" id="saveForm" routerLink = "/team/{{team.firstTeam._id}}">
		</div>
	<div *ngIf="team.secondTeam.lose == true">
			<input type="image" [src] = "team.secondTeam.teamLogo" name="saveForm" class="" id="saveForm" routerLink = "/team/{{team.secondTeam._id}}">

	</div>
</div> -->
 
<!-- LOSE CONDITION ::: ==============> team.firstTeam.lose -->
		<!-- <img src = {{team.firstTeam.teamLogo}} class ="team-logo">
		<img src = "https://upload.wikimedia.org/wikipedia/commons/f/f6/Versus_sign.png" class = "versus">
		<img src = {{team.secondTeam.teamLogo}} class ="team-logo"> -->


	<!-- <div>
			<input type="image" [src] = "team.firstTeam.teamLogo" name="saveForm" class="btn-images" id="saveForm" routerLink = "/team/{{team.firstTeam._id}}">
			<p class = "link-text">CREATE TOURNAMENT</p> 
	</div> -->


	<!-- <ion-list ion-item *ngFor="let item of singleArray;"  >

		{{item.bil}} <button round>{{item.stat}}</button>
	
	</ion-list> -->