.versus {
  width: 80px;
  height: 80px;
}

.team-logo{
  width: 150px;
  height: 150px;
}

.team{
  display: flex;
  justify-content: space-between;
}

.container{
  /* display: flex; */
  width: 300px;
  /* justify-content: space-between; */
}
