<div class="center">
  <br>
  <br>
  <h3>Details for "{{theActualTournament.tournamentName}}"</h3>

  <p> Tournament Administrator:
    <a [routerLink]="['/user', theActualTournament.tournamentAdministrator._id]"> {{theActualTournament.tournamentAdministrator.username}}</a>
  </p>


  <p>Tournament Description: {{theActualTournament.tournamentDescription}}</p>

  <p>Rules: {{theActualTournament.rules}}</p>
  <p>Winner: To Be Determined</p>

  <!-- <p><b>People in this Tournament:</b></p>
    <div *ngFor="let player of theActualTournament.playerPool">
      <p>     -{{player}}</p>
    </div> -->

  <div *ngIf="theLoggedInUser !== undefined">
    <hr>
    <p>Wanna play?</p>
    <button (click)="userJoiningTournament()">Sign me up for this Tournament</button>
    <hr>

    <button (click)="teamSignUp = !teamSignUp">Sign My Team Up</button>

    <div *ngIf="teamSignUp">

      <h5>Choose Your Team :)</h5>
      <div *ngFor="let eachTeam of detailedUserInfo.teamCaptainOf">
        <!-- <form > -->
        <button (click)="teamJoiningTournament(eachTeam)">I choose {{eachTeam.teamName}}</button>
        <!-- </form> -->
      </div>
    </div>







  </div>

  
</div>






<!-- <div>
  <h1> YOU WILL NG IF THE TEAMCAP HAS TEAMS UNDER HIM VIA QUERY. THIS DIV WILL SWALLOW THE ONE WITH THE FUNCTION.
    IT WILL ONLY APPEAR IF HE MEETS THE ABOVE CONDITION</h1>

    E </h1>


          <div *ngIf="{{theLoggedInUser.teamCaptainOf}}.length === 1">
            <button (click) = "TeamJoinsTheArrayAndHeOnlyRunsOneTeam"></button>
          </div>

          <div *ngIf="{{theLoggedInUser.teamCaptainOf}}.length === 0">
              <h5>You don't have any teams. You can make one :)</h5>
            </div>

            <div *ngIf="theLoggedInUser !== undefined && {{theLoggedInUser.teamCaptainOf}}.length > 1">
                <h5>Choose Your Team :)</h5>
               
                <div *ngFor="let eachTeam of theLoggedInUser.teamCaptainOf">
                    {{eachTeam.teamName}}
                  
                </div>



              </div>


    </div>

</div> -->



<div *ngIf="theLoggedInUser && theActualTournament.tournamentAdministrator._id === theLoggedInUser._id">
  Only Tournament Administrators Can See This :)
  <br>
  <button (click)="isShowingForm = !isShowingForm">Edit this Tournament</button>

  <br>
  <div *ngIf="isShowingForm">
    <form (submit)="updateThisTournament()">

      <label for="Tournament Name">Tournament Name</label>
      <br>
      <input type="text" id=tournamentName-input [(ngModel)]="theActualTournament.tournamentName" [value]="theActualTournament._id"
        name="id">
      <br>
      <br>
      <label>Tournament Logo URL</label>
      <br>
      <input [(ngModel)]="theActualTournament.tournamentLogo" name="tournamentName" type="text">
      <br>
      <br>

      <label>Tournament Description</label>
      <br>
      <textarea [(ngModel)]="theActualTournament.tournamentDescription" name="TournamentDescription" type="text">{{theActualTournament.tournamentDescription}}</textarea>
      <br>
      <br>




      <button>Save Changes</button>
    </form>
  </div>




  <br>
  <button (click)="showMe = !showMe">Delete this Tournament</button>

  <div *ngIf="showMe">
    <h1 style="color:red">WARNING</h1>
    <h6>Once you delete your tournament, there is no going back. Are you sure?</h6>
    <form (submit)="deleteTournament()">
    <button class="TRUE-DELETE">Destroy this Tournament</button>
    </form>
  </div>
</div>

<br>
<br>