
<br>
<br>
<div class="container center">


<h3> All of the Tournaments</h3>

<h5> Feeling Competitive? Jump right in</h5>
<hr>
<br>



<div *ngFor="let eachTournament of allTheTournaments">
  <div>
  <h3>Tournament Name: {{eachTournament.tournamentName}}</h3>
  <p><a [routerLink] = "['/tournament/details', eachTournament._id]">Tournament details.</a></p>
  <p><a [routerLink] = "['/tournament/', eachTournament._id]">See The Match Lineup</a></p>
  <br>
  <br>
  <br>
</div>
  
</div>



 <!-- Example -->
  <!-- <a [routerLink] = "['/team', team._id]">Team details.</a> -->

  


</div>

