<br>
<br>
<br>
<div class="container yea">

<h2>Signup Form</h2>

<form (submit)="createUser()">
  
  <label>Username</label>
  <br>
    <input [(ngModel)]="theNewUser.username" name="blah" type="text">
  <br>
  <br>

  <label>Password</label>
  <br>
    <input [(ngModel)]="theNewUser.password" name="blah" type="password">
  <br>
  <button>Signup</button>
</form>
<div class ="aProblem" *ngIf="theError">{{theError}}</div>
  
    <p>Already have an account?<a routerLink="/login">  login</a></p>

<!-- THIS WILL BE THE AREA WHERE THE USER EDIT'S HIS/HER OWN PROFILE COMPLETELY-->
<!-- THE CURRENT FORM RESIDING IN IT WILL BE TRANSFERRED TO SIGN-UP FORM COMPONENT  -->

</div>